version: 1
disable_existing_loggers: false
formatters:
  simple:
    format: "%(asctime)s - %(levelname)s - %(message)s"
handlers:
  console:
    class: logging.StreamHandler
    formatter: simple
    level: DEBUG
    stream: ext://sys.stdout
loggers:
  uvicorn:
    level: DEBUG
    handlers: [console]
    propagate: false
  LiteLLM:
    level: DEBUG  # Set to DEBUG for detailed logs
    handlers: [console]
    propagate: false
root:
  level: DEBUG
  handlers: [console]
